.imgModel{
    width: 340px;
    height: 350px;
}
.model1 .imgGlass{
    width: 12%;
    /* height: 20%; */
    top: 136px;
    left: 302px;
    opacity: 0.6;
}
.model2 .imgGlass{
    width: 12%;
    /* height: 20%; */
    top: 136px;
    right: 446px;
    opacity: 0.6;
}

.bgGround{
    background-color: white;
}